<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<!-- Include Head -->

<body>
    <!-- Header -->
    <% if (locals.user != undefined) { %>
        <%- include("./partials/headerLogueado") %>
    <% } else { %>
        <%- include("./partials/header") %>
    <% } %>
    <!-- /Header -->

    <!-- product detail -->
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title"><%= productos.nombre %></h2>
            <p class="product-detail-description">
            <% if (condition) { %>
                <form action="/product/editProduct" method="post">
                    <input type="hidden" name="id" value="<%= productos.id %>">
                    <button class="form-label" type="submit"><a>Editar</a></button>
                </form>
                <form action="/product/delete" method="post">
                    <input type="hidden" name="id" value="<%= productos.id %>">
                    <input type="hidden" name="idUsuario" value="<%= productos.usuario.id %>">
                    <button class="form-label" type="submit"><a>Eliminar</a></button>
                </form>
            </p>
            <% } %>
        </div>
        <% if (!condition) { %>
            <p class="label">Producto cargado por <a class="usuario-label" href="/users/profile/id/<%= productos.usuario.id %>"><%= productos.usuario.mail %></a></p>
            <% } %>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= productos.imagen %>" class="product-detail-img">
                    <p class="product-detail-description"><%= productos.descripcion %></p>
                </article>
                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% for(let i = 0; i < comentarios.length; i++) { %>
                            <article>
                            <img src="<%= comentarios[i].usuario.fotoPerfil %>" />
                            <div class="data">
                                <p class="user">
                                    <strong> <a href="/users/profile/id/<%= comentarios[i].usuario.id %>"><%= comentarios[i].usuario.usuario %></a> </strong>
                                    <%= comentarios[i].texto %>
                                </p>
                            </div>
                        </article>
                        <% } %>
                    </section>
                    <% if (locals.user != undefined) { %>
                        <form class="form" action="/product/id/<%= productos.id %>" method="post">
                            <input name="comentario" class="form-input" type="text" value="" placeholder="Agregar comentario">
                            <button type="submit" class="buy-now-button botonComentario">AGREGAR COMENTARIO</button>
                        </form>
                        <% if (locals.errors && locals.errors.comentario) { %>
                            <p class="feedback"><%= locals.errors.comentario.msg %></p><br>
                        <% } %>
                        <% } else { %>
                            <div class="products-title">
                            <a href="/users/login">Clickea acá para iniciar sesión y agregar un comentario.</a>
                        </div>
                    <% } %>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- /product detail -->

    <!-- footer -->
    <%- include("./partials/footer") %>
    <!-- /footer -->

</body>
</html>
