<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<!-- Include Head -->

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%- usuario.fotoPerfil %>" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%- usuario.nombre %>
						<a href="/users/edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul>
						<li class="email"><%- usuario.email %></li>
					</ul>
				</div><br>
				<div>
					<ul>
						<li> 12 productos</li>
						<li> 150 seguidores</li>
						<li> 200 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>	
</html>